.income-Form{
    display: flex;
    flex-direction: column;
}
.edit-income-form-description{
    display: flex;
    justify-content: space-between;
    margin: 0 2vw;
    border-radius: 5px;
    border: 2px solid rgb(152, 193, 217);
    background-color: rgb(61, 90, 128)
}
.edit-income-form-description select{
    margin:2vh 4vw;
    width: 8vw;
    text-align: center;
    border-radius: 5px;
    color: white;
    border: 2px solid rgb(238, 108, 77);
    background-color: rgb(61, 90, 128);
    padding: .1rem;
}
.edit-income-form-description input{
    text-align: center;
    width: 7vw;
    margin: 2vh ;
    margin-right: 5vh;
    border-radius: 5px;
    color: white;
    border: 2px solid rgb(238, 108, 77);
    background-color: rgb(61, 90, 128);
    padding: .1rem;
}
.income-Form .edit-date{
    margin: 0 auto 2vh 2vw;
    border-radius: 5px;
    color: white;
    border: 2px solid rgb(238, 108, 77);
    background-color: rgb(61, 90, 128);
    padding: .1rem;
}