.selected-page {
    color: rgba(214,0,255, 1);
    position: relative;
    text-decoration: underline;
}

.paginate-container {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.paginate-container span {
    cursor: pointer;
}