.income-page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70vw;
}

@media screen and (max-width: 1000px){
.income-page{
    flex-direction: column;
    justify-content: flex-start;
}
.income-list{
    width: 70vw;
    margin: 2vh auto;
}
.Nav{
    height: 140vh;
    width: fit-content;
    margin-bottom: 2vh;
}
.add-income-form{
    padding: auto;
    text-align: center;
    /* justify-content: center; */
    margin: 2vh 2vw;
}
.add-income-form-desc{
    margin:  auto;
}
.add-date{
    margin: auto;
}
}