.add-expense-form{
    display: flex;
    flex-direction: column;
    margin: 20vh 8vw 20vh 3vw;
    padding:3vh 3vw;
    height: 40vh;
    background-color: rgba(0,184,255, .6);
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0,0,0,.4);
}

.add-expense-form-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15vw;
    border-radius: 10px;
    border: 2px solid rgb(41, 50, 65);
    padding: 2vh 2vw;
}
.add-date{
    margin: 0 auto 2vh 2vw;
}
