.add-expense-form{
    display: flex;
    flex-direction: column;
    margin: 20vh 8vw 20vh 3vw;
    padding:3vh 3vw;
    height: 40vh;
    background-color: rgb(61, 90, 128);
    border-radius: 10px;
}

.add-expense-form-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15vw;
    border-radius: 10px;
    border: 2px solid rgb(152, 193, 217);
    padding: 2vh 2vw
}
.add-date{
    margin: 0 auto 2vh 2vw;
}
