.expense-item{
    /* border: 2px solid black; */
    margin-top: 2vh;
    /* background-color: rgb(224, 251, 252, .4) */
    background-color: rgb(61, 90, 128);
    border-radius: 10px;
    border: 2px solid rgb(152, 193, 217);
}
.expense-item p{
    margin-left: 2vw;
    
    
}
.expense-item-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vh 2vw;
    border-radius: 5px;
    /* background-color: rgb(152, 193, 217, .8); */
    background-color: rgb(61, 90, 128);
    border: 2px solid rgb(152, 193, 217)
}
.flex-item{
    width:15vw;
    text-align: center;
}
.date-and-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.date-and-button button{
    margin-right: 2vw;
    height: 2vh;
    align-self: center;
}