.add-income-form{
    display: flex;
    flex-direction: column;
    margin: 20vh 8vw 20vh 3vw;
    padding:3vh 3vw;
    height: 40vh;
    background-color: rgba(0,184,255, .6);
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0,0,0,.4);
}

.add-income-form input,
.add-income-form select {
    padding: .3rem;
    border-radius: 5px;
}

.add-income-form-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15vw;
    border-radius: 10px;
    border: 2px solid rgb(41, 50, 65);
    padding: 2vh 2vw
}
.add-date{
    margin: 0 auto 2vh 2vw;
}

.add-income-form button {
    border-radius: 5px;
    color: white;
    border: 2px solid rgb(238, 108, 77);
    background-color: rgb(61, 90, 128);
    padding: .5rem 1rem;
    margin-top: 1rem;
    transition: all .2s;
    cursor: pointer;
}

.add-income-form button:hover {
    background-color: rgb(238, 108, 77);
    border: 2px solid rgb(61, 90, 128);
}